

@mixin addTheme($name, $colors) {

  html[data-theme="#{$name}"] {

    @each $color in $colors {
      $i: index($colors, $color);

      .t#{$i} {
        color: $color;
      }
      .f#{$i} {
        background-color: $color;
      }
      .b#{$i} {
        border-style: solid;
        border-color: $color;
      }
    }
  }
}